<style>
    .error{
        color: red;
        font-weight: bold;
        padding-top: 5px;
    }
</style>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Admin Login</h2>

                            <form action="/admin" method="post" id="loginForm">
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label"  for="typeEmailX">Email</label>
                                    <input type="email" id="typeEmailX" name="email" value="sudoadmin@localhost.com" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="typePasswordX">Password</label>
                                    <input type="password" name="password" value="admin" id="typePasswordX" class="form-control form-control-lg" />
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(() => {
        $('#loginForm').validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                },
                password: {
                    required: true,
                },
            },
            messages: {
                email: "Please enter your email!",
                password: "Please enter the password!",
            }
        })
    })
</script>