<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
    <style>
        body{
            overflow-x: hidden;
        }
        .rounded-t-5 {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        @media (min-width: 992px) {
            .rounded-tr-lg-0 {
                border-top-right-radius: 0;
            }

            .rounded-bl-lg-5 {
                border-bottom-left-radius: 0.5rem;
            }
        }
    </style>
    <div class="card mb-3">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-4 d-none d-lg-flex">
                <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
                    class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
            </div>
            <div class="col-lg-8 ">
                <div class="card-body py-5 px-md-5">

                    <form action="/login" method="post" id="loginForm">

                        <h5 class="h2 text-center mb-3 pb-3" style="letter-spacing: 1px;">LOGIN</h5>

                        {{#if loginErr}}
                        <p class="font-weight-bold my-3 text-danger">{{errMessage}}</p>
                        {{/if}}

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example1">Email address</label>
                            <input type="email" id="form2Example1" value="shamilrasheed131@gmail.com" class="form-control" name="email" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example2">Password</label>
                            <input type="password" id="form2Example2" value="a" class="form-control" name="password" />
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col">
                                <!-- Simple link -->
                                <a href="#!">Forgot password?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                        <p class="mb-5 pb-lg-2 text-center" style="color: #393f81;">Don't have an account?
                            <a href="/signup" style="color: #393f81;">Register here</a>
                        </p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->
<script>
    $(document).ready(() => {
        $('#loginForm').validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                },
                password: {
                    required: true,
                },
            },
            messages: {
                email: "Please enter your email!",
                password: "Please enter the password!",
            }
        })
    })
</script>
