<div class="header">
    <h1 class="text-center">Categories</h1>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Add Category</strong>
                    </div>
                    <div class="card-body card-block">
                        <form action="/admin/addCategory" method="post" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label">Name
                                    </label>
                                </div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" name="categoryName"
                                        class="form-control"></div>
                            </div>
                            <div class="pt-3 ">
                                <div class="d-inline pr-3">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        Submit
                                    </button>
                                </div>
                                <div class="d-inline">
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    {{!-- <div class="card-header d-flex justify-content-between">
                        <strong class="card-title">Categories</strong>
                        <a href="/admin/addCategory" class="btn btn-primary" style="border-radius: 0.5rem;">Add
                            Category</a>
                    </div> --}}
                    <div class="table-stats order-table ov-h">

                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    {{!-- <th>Edit</th> --}}
                                    <th>View Products</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each categories}}
                                <tr>
                                    <td>{{this.name}}</td>
                                    {{!-- <td><a href="" class="btn btn-success">Edit</a></td> --}}
                                    <td><a href="/admin/productsByCat/{{this._id}}" class="btn btn-primary">View</a>
                                    </td>
                                    <td><a href="/admin/categoryDelete/{{this._id}}" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                    </div> <!-- /.table-stats -->
                </div>
            </div>
        </div>
    </div>
</div>